{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contain {
  padding: 2px 16px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;

  height: 20%;
  width: 89%;
  opacity: 0;
  padding: 30px 0px 10px;

  transition: .5s all;
  background-color:rgba(0, 0, 0, 0.8);
 
}

.col-md-3:hover .overlay {
  opacity: 2;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
<body class="container-fluid">


	

	
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="{% url 'ecommerceapp:clienthome' %}">O-shop</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'ecommerceapp:clienthome' %}">Home</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'ecommerceapp:cart' %}"><span class="fa fa-shopping-cart"></span></a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-link">Logged in as: <span class="text-dark">{{request.user}}</span></li>
        <li class="nav-item active">
         
          <a class="nav-link" href="{% url 'ecommerceapp:customersignout' %}">Sign out</a>
      </li> 
       <li class="nav-item active">
         
          <a class="nav-link" href="{% url 'ecommerceapp:customerprofile' %}">Profile</a>
      </li> 
        {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ecommerceapp:customersignin' %}">Sign In</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ecommerceapp:customersignup' %}">Sign Up</a>
      </li>
      {% endif %}
  
  
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="">
      <input class="form-control mr-sm-2" type="text" name="ishara"  placeholder="Search....">
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>
  </div>
</nav>
	<div class="row">
		<div class="col-md-3">
			<h3>Categories</h3>
			{% for cat in root_categories %}
			<li>
			<a href="{% url 'ecommerceapp:categorydetail' cat.slug %}">{{cat.title}}</a>
			</li>
			{% for subcat in cat.productcategory_set.all %}
			<li class="ml-5">
			<a href="{% url 'ecommerceapp:categorydetail' subcat.slug %}">{{subcat.title}}</a>
			</li>

			{% endfor %}
			{% endfor %}
		</div>
		<div class="col-md-9">
			{% block content %}
			{% endblock %}


		</div>
	</div>
</body>
</html>



