{%  extends "clienttemplate\base.html" %}
{% load static %}

{% block content %}
<h3>My cart</h3>
<a href="{% url 'ecommerceapp:emptycart'  %}" class="btn btn-danger"><span class="fa fa-trash"></span></a>


<table class="table">
<thead>
	<tr>
	<th>S.N</th>
	<th>Product</th>
	<th>Product Image</th>
	<th>Rate</th>
	<th>Quantity</th>
	<th>Action</th>
	<th>Subtotal</th>
	</tr>
</thead>
<tbody>
{% for cartproduct in mycart.cartproduct_set.all %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{cartproduct.product}}</td>
<td><img src="{{cartproduct.product.image.url}}" style="height: 100px;width: 100px"></td>
<td>{{cartproduct.rate}}</td>
<td>{{cartproduct.quantity}}</td>
<td><a href="{% url 'ecommerceapp:managecart' cartproduct.id 'inr' %}" class="btn btn-info"><span class="fa fa-plus"></span></a>
<a href="{% url 'ecommerceapp:managecart' cartproduct.id 'dcr' %}" class="btn btn-info"><span class="fa fa-minus"></span></a>
	<a href="{% url 'ecommerceapp:managecart' cartproduct.id 'rmv' %}" class="btn btn-danger"><span class="fa fa-trash"></span></a>
</td>
<td>{{cartproduct.subtotal}}</td>
	
</tr>	
{% endfor %}
<tr>
	<th colspan="6" class="text-right">Total:</th>
	<th>{{mycart.total}}</th>
</tr>
</tbody>

	
</table>
<a href="{% url 'ecommerceapp:ordercreate'  %}" class="btn btn-info"><span class="fa fa-checkout">Checkout</span></a>



	{% endblock %} 