{%  extends "clienttemplate\base.html" %}
{% load static %}

{% block content %}
<h3 style="text-align: center;color: #17a2b8!important">Category:{{categoryobject.title}}</h3>
<div class="row">
{% for product in categoryobject.product_set.all %}
<div class="col-md-3">
		
<img src="{{product.image.url}}" alt="Avatar" class="image" class="img-fluid" style="height: 200px">
<h5 style="color: #17a2b8!important;text-align: center;">{{product.title}}</h5>
<p style="text-align: center;">Price:<strike>RS.{{product.mrp}}</strike><br>
RS.{{product.sp}}</p>
<div class="overlay">
<a class="text" style="color: #17a2b8!important" href="{% url 'ecommerceapp:addtocart' product.id %}">Add to cart</a>

</div>

</div>
		{% endfor %}
</div>


{% for subcat in categoryobject.productcategory_set.all %}
<h4 class="text-info">{{subcat.title}}</h4>
<hr>
<div class="row">
	{% for product in subcat.product_set.all %}
	<div class="col-md-3">
<img src="{{product.image.url}}" alt="Avatar" class="image" class="img-fluid" style="height: 200px">
<h5 style="color: #17a2b8!important;text-align: center;">{{product.title}}</h5>
<p style="text-align: center;">Price:<strike>RS.{{product.mrp}}</strike><br>
RS.{{product.sp}}</p>
<div class="overlay">
<a class="text"  style="color: #17a2b8!important" href="{% url 'ecommerceapp:addtocart' product.id %}">Add to cart</a>

				

	</div>
	</div>
	{% endfor %}
</div>
{% endfor%}
{% endblock %} 