{%  extends "clienttemplate\base.html" %}
{% load static %}

{% block content %}


{% if request.user.is_authenticated %}
<h1 ><b style="color: #17a2b8!important">{{ request.user }}</b> welcome to your profile </h1>
<hr>
<div class="row">

	<div class="col-md-4">
		<h4><small>Your profile</small></h4>

		<div class="card">
			<img src="{{ request.user.customer.photo.url }}"  alt="Avatar" style="width:100%">



			<div class="contain">
				<h4><b>{{ request.user.customer.name }}</b></h4> 
				<p><small>Username:{{ request.user.customer.name }}</small></p> 
				<p><small>Email:{{ request.user.email }}</small></p> 
				<p><small>Address:{{ request.user.customer.address }}</small></p> 
				<p><small>Contact no:{{ request.user.customer.mobile }}</small></p> 
<span class="fa fa-edit" style="color: red"><a href=""></a></span>
			</div>
		</div>

		{% endif %}
	</div>


	<div class="col-md-8">
		<table class="table table-striped">
			<h3>Your order history</h3>


			<thead>
				<tr>
				<th>Order Date</th>
					<th>Order Product</th> 
					<th>Product image</th>
					<th>Order Qunatity</th>
					<th>Rate</th>
					<th>Order status</th>
					<th>Payment</th>

				</tr>
			</thead>
			<tbody>

{% for order in order.cart.cartproduct_set.all %}
				<tr>
					<td scope="row">{{order.product.title}}</td>
					<td>xxx</td>
					<td>xxx</td>

					<td>xxx</td>
					<td>xxx</td>
					<td>xxx</td>
					<td>xxx</td>

				

				</tr>
{% endfor %}
			</tbody>


		</table>

	</div>
</div>



{% endblock %} 