{%  extends "clienttemplate\base.html" %}
{% load static %}

{% block content %}

<hr>
<h3 style="text-align: center;color: #17a2b8!important">All products</h3>
<hr>
<div class="row">
{% for product in allproducts %}

<div class="col-md-3">

<img src="{{product.image.url}}" alt="Avatar" class="img-fluid" style="height: 200px">
<h5 style="color: #17a2b8!important;text-align: center;">{{product.title}}</h5>
<p style="text-align: center;">Price:<strike>RS.{{product.mrp}}</strike><br>
RS.{{product.sp}}</p>

<div class="overlay">
<a class="text" style="color: #17a2b8!important" href="{% url 'ecommerceapp:addtocart' product.id %}">Add to cart</a>
</div>

</div>
<br>

{% endfor %}


</div>


{% endblock %} 