{%  extends "clienttemplate\base.html" %}
{% load static %}

{% block content %}
<h3>Order Form</h3>
<hr>
<a href="{% url 'ecommerceapp:cart'  %}" class="btn btn-danger">ManageCart</a>
<div class="row">

<div class="col-md-6">
<table class="table">
	<thead>
		<tr>
			<th>S.N</th>
			<th>Product</th>
			<th>Subtotal</th>
		</tr>
	</thead>

	<tbody>
		{% for cartproduct in cart_obj.cartproduct_set.all %}
		<tr>
		<td>{{forloop.counter}}</td>
		<td>{{cartproduct.product}}</td>
		<td>{{cartproduct.rate}}*{{cartproduct.quantity}}={{cartproduct.subtotal}}</td>
		</tr>
		{% endfor %}
		<tr>
			<th class="text-right" colspan="2">Total</th>
			<th >{{cart_obj.total}}</th>
		</tr>
	</tbody>
</table>
	
</div>
<div class="col-md-6">
	<form method="POST" enctype="multipart/form-data" action="">
	{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-info btn-block">Place Order</button>
	
</form>
</div>
	
</div>


{% endblock %} 