{%  extends "admintemplate\base.html" %}
{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-4 mx-auto">
	<p>{{error}}</p>
	<h4>Product Image Form</h4>
	 <form method="POST" enctype="multipart/form-data" action="">
	{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-info btn-block">Add Image</button>
	
</form>
	</div>
</div>

	{% endblock %} 