


{% extends 'admintemplate/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        
<h3 style="text-align: center;">Cart-no: <small><b>{{cartobject.id}}</small></b></h3><br/>
<table class="table">
<thead>
    <tr>
    <th>S.N</th>
    <th>Product</th>
    <th>Rate</th>
    <th>Quantity</th>
    <th>Created Date</th>
    <th>Subtotal</th>
    </tr>
</thead>
<tbody>
        {% for cart in cartobject.cartproduct_set.all %}

<tr>
<td>{{forloop.counter}}</td>
<td>{{cart.product}}</td>
<td>{{cart.rate}}</td>
<td>{{cart.quantity}}</td>
<td>{{cart.created_at}}</td>
<td>{{cart.subtotal}}</td>
    
</tr>   
{% endfor %}
<tr>
    <th colspan="5" class="text-right">Total:</th>
    <th>{{cartobject.total}}</th>
</tr>
</tbody>

    
</table>
      
    </div>
    
</div>


{% endblock %}