{% extends 'admintemplate/base.html' %}



{% block content %}

<div class="row">
    <div class="col-md-6">
        
<h3 style="text-align: center;">Order-no: <small><b>{{orderobject.id}}</small></b></h3>
<h2>Customer name: <a href="">{{orderobject.cart.customer}}</a></h2><br/>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
        <th>S.N</th>
        <th>Product</th>
        <th> Image</th>
        <th>Rate</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for cartproduct in orderobject.cart.cartproduct_set.all %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{cartproduct.product.title}}</td>
            <td><img src="{{cartproduct.product.image.url}}" style="width: 50px;height: 50px"></td>
            <td>{{cartproduct.rate}}</td>
            <td>{{cartproduct.quantity}}</td>
            <td>{{cartproduct.subtotal}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="text-right">Subtotal</td>
            <td>{{orderobject.subtotal}}</td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">Discount</td>
            <td>{{orderobject.discount}}</td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">Net Total</td>
            <td>{{orderobject.total}}</td>
        </tr>

    </tbody>

    
</table>
      
    </div>
    <div class="col-md-6">
        <h4>Billing Address</h4>
        <hr>
        <p>Municipality: {{orderobject.municipality}}</p>
        <p>Street address: {{orderobject.street_address}}</p>
        <p>Contact no: {{orderobject.alt_mobile}}</p>
        <p>0rder status: {{orderobject.order_status}}</p>
        <p>payment mode: {{orderobject.payment_mode}}</p>
    </div>
    
</div>




                                

{% endblock %}