{% extends 'admintemplate/base.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		               
                        <a href="{% url 'ecommerceapp:adminproductcategorycreate'  %}" class="btn btn-info"><span class="fa fa-plus"> Product Category</span></a>
                	</div>
                	
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Product Category</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Title</th>
                                <th scope="col">slug</th>
                                <th scope="col">Image</th>
                                <th scope="col">root</th>
                         
                                 
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        	{% for productcategory in adminproductcategorylist %}
                            <tr>
                            
                               
                            </tr>
                            <th scope="row">{{forloop.counter}}</th>
                                <td>{{productcategory.title}}</td>
                                <td>{{productcategory.slug}}</td>
                                <td><img src="{{productcategory.image.url}}" style="height: 100px;width: 100px">
                                <td>{{productcategory.root}}</td>
                               
                                <td>
                                    <a href="{% url 'ecommerceapp:adminproductcategorydelete' productcategory.id %}"><span class="fa fa-trash"></span></a>
                                    <br/>
                                    <a href="{% url 'ecommerceapp:adminproductcategoryupdate' productcategory.id %}"><span class="fa fa-edit"></span></a>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               

            </section>

{% endblock %}