{% extends 'admintemplate/base.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		               
                        <a href="{% url 'ecommerceapp:adminproductimagecreate'  %}" class="btn btn-info"><span class="fa fa-plus"> Product image </span></a>
                	</div>
                	
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Product image</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Product</th>
                                <th scope="col">Image</th>
                                

                         
                                 
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        	{% for image in adminproductimagelist %}
                            <tr>
                            
                               
                            </tr>
                            <th scope="row">{{forloop.counter}}</th>
                                <td>{{image.product}}</td>
                                <td><img src="{{image.image.url}}" style="height: 150px;width: 150px"></td>
                            


                                
                                                               
                                <td>
                                    <a href="{% url 'ecommerceapp:adminproductimagedelete' image.id %}"><span class="fa fa-trash"></span></a>
                                    <br/>
                                    <a href="{% url 'ecommerceapp:adminproductimageupdate' image.id %}"><span class="fa fa-edit"></span></a>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               

            </section>

{% endblock %}