{% extends 'admintemplate/base.html' %}
{% block content %}
<h3>Product category delete</h3>
<form method="POST">
{% csrf_token %}
<p>Are you sure you want to delete it</p>
<button class="btn btn-danger">yes</button>
<a href="/post/list/" class="btn btn-info">cancel</a>
</form>

{% endblock %}