{% extends 'admintemplate/base.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		                
                	</div>
                	
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Order</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">order id</th>
                                <th scope="col">order user</th>
                                <th scope="col">Order Quantity</th>
                                <th scope="col">order status</th>
                                <th scope="col">Order Total</th>
                                 
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        	{% for order in adminorderlist %}
                            <tr>
                            
                               
                            </tr>
                            <th scope="row">{{forloop.counter}}</th>
                                <td>order-{{order.id}}</td>
                                <td>{{order.cart.customer.name}}</td>
                                <td>{{order.cart.cartproduct_set.count}}</td>
                                <td>{{order.order_status}}</td>
                                <td>Rs.{{order.total}}</td>
                                <td><a href="{% url 'ecommerceapp:adminorderlistdetail' order.pk %}">View</a></td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               

            </section>

{% endblock %}