{% extends 'admintemplate/base.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		                
                	</div>
                	
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Cart</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                 <th scope="col">Customer</th>
                                <th scope="col">Cart</th>
                                 <th scope="col">Quantity</th>
                                  <th scope="col">Total</th>
                             
                                <th scope="col">Created at</th>
                                <th scope="col">Updated at</th>
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        	{% for cart in admincartlist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{cart.customer.name}}</td>
                                <td>cart-{{cart.id}}</td>
                                <td>{{cart.cartproduct_set.count}}</td>
                                <td>Rs{{cart.total}}</td>
                               
                                <td>{{cart.created_at}}</td>
                                <td>{{cart.updated_at}}</td>

                                <td>
                                    <a href="{% url 'ecommerceapp:admincartlistdetail' cart.pk %}">View Cart Detail</a>
                                </td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--// table5 -->

            </section>

{% endblock %}