{% extends 'admintemplate/base.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		               
                        <a href="{% url 'ecommerceapp:adminproductcreate'  %}" class="btn btn-info"><span class="fa fa-plus"> Product </span></a>
                	</div>
                	
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Product</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Title</th>
                                <th scope="col">Image</th>
                                <th scope="col">sku</th>
                                <th scope="col">category</th>
                                <th scope="col">mrp</th>
                                <th scope="col">sp</th>

                         
                                 
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        	{% for product in adminproductlist %}
                            <tr>
                            
                               
                            </tr>
                            <th scope="row">{{forloop.counter}}</th>
                                <td>{{product.title}}</td>
                                <td><img src="{{product.image.url}}" style="width: 100px;height: 100px"></td>
                                <td>{{product.sku}}</td>
                                <td>{{product.category}}</td>
                                <td>{{product.mrp}}</td>



                                
                                <td>{{product.sp}}</td>
                               
                                <td>
                                    <a href="{% url 'ecommerceapp:adminproductdelete' product.id %}"><span class="fa fa-trash"></span></a>
                                    <br/>
                                    <a href="{% url 'ecommerceapp:adminproductupdate' product.id %}"><span class="fa fa-edit"></span></a>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               

            </section>

{% endblock %}